CONFIG=DEV
PORT=8080
LOG_LEVEL=DEBUG
MFA_SECRET_KEY=""
JWT_KEY=""
DATABASE_URI=""
CORS_ORIGIN=*
SENTRY_CONFIG=""
TOKEN_SALT=SECRET_SALT
API_URL=http://localhost:5000/user/v1
FLASK_APP=run
BASE_URL=http://localhost:5000
DEBUG=true
UPLOAD_FOLDER=uploads
OPENAI_API_KEY=""
MAILGUN_API_KEY=""
MAILGUN_DOMAIN=""
DIGITALOCEAN_ORIGIN_ENDPOINT=""
DIGITALOCEAN_CDN_ENDPOINTS=""
SPACES_KEY=""
SPACES_SECRET=""
REGION_NAME=""
BUCKET_NAME=""
FLASK_APP=run
SUPER_ADMIN=a3213c22-c8c5-4e86-aa7c-ec4a08f0a7f9
HMA_ENDPOINTS=""
OTEL_PYTHON_LOG_APPPLICATION_NAME="dev"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
SCHEDULER_API_ENABLED = true
CELERY_BROKER_URL=""
CACHE_REDIS_URL=""
CACHE_TYPE=RedisCache
