CONFIG=DEV
PORT=8080
LOG_LEVEL=DEBUG
MFA_SECRET_KEY=ZYL4xJtMpfF1HI0TOtbgsdxZtR9OtHLPbJDoxzC0
JWT_KEY=FdS36JskKh3YqDRbuPhetfdq3E0ZPwZ3Ot3nE6wtRk
DATABASE_URI=postgresql://xtools:oo$<Xpe4DRRQ@180.93.182.48:5432/prod_database
CORS_ORIGIN=*
SENTRY_CONFIG=""
TOKEN_SALT=SECRET_SALT
API_URL=http://localhost:5000/user/v1
FLASK_APP=run
BASE_URL=http://localhost:5000
DEBUG=true
UPLOAD_FOLDER=uploads
OPENAI_API_KEY=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
MAILGUN_API_KEY=ca6663fedcbdb69a724d98d5e269c59e-5e3f36f5-24a0cb28
MAILGUN_DOMAIN=sandbox755f76f5045d4fa5bba3a438e0758056.mailgun.org
DIGITALOCEAN_ORIGIN_ENDPOINT=https://meetingx.sgp1.digitaloceanspaces.com
DIGITALOCEAN_CDN_ENDPOINTS=https://meetingx.sgp1.cdn.digitaloceanspaces.com
SPACES_KEY=DO0032GA8HGTJV6WH3VP
SPACES_SECRET=9SDBthDAlLR8XjQc4FwKt5nXWDSEOyTg8ZUTYCYixvk
REGION_NAME=sgp1
BUCKET_NAME=meetingx
FLASK_APP=run
SUPER_ADMIN=a3213c22-c8c5-4e86-aa7c-ec4a08f0a7f9
HMA_ENDPOINTS="https://api-tuan.hidemyacc.com"
OTEL_PYTHON_LOG_APPPLICATION_NAME="dev"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
SCHEDULER_API_ENABLED = true
CELERY_BROKER_URL=redis://:l8cHgjw8a0@127.0.0.1:6379/0
CACHE_REDIS_URL=redis://:l8cHgjw8a0@127.0.0.1:6379/1
CACHE_TYPE=RedisCache
